:root {
    --margin-top-small: 2.5rem;
}


/* Align the front page photo "caption" */
.more-info {
    text-align: center;
}

/* Breakpoint for small devices */
@media (max-width: 575.98px) {

    .col-sm-2.abbr .badge.rounded {
        margin-top: var(--margin-top-small);
    }

    .col-sm-8 .title {
        margin-top: var(--margin-top-small);
    }

    /* Hide the figure element in the abbr column */
    .col-sm-2.abbr figure {
        display: none;
    }

}

/* Correct small bug in the CV page */
.list-group-item .row {
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.table-cv {
    margin: 0 0 0 1rem;
    display: flex;
    justify-content: center;
}
